
<h1>{{title}}</h1>

<ul>
  <li>Author: {{this.author}}</li>
  <li>Info: {{this.info}}</li>
</ul>

<button (click) ="onClick()">Save</button>
<button (click) ="toggleEdit()">Edit Book</button>

<div *ngIf=isEdit>
<h3>Edit Book</h3>
<form>
  <div>
      <label for="author">Author: </label><br>
      <input type="text" [(ngModel)] = "author" name="author">
    </div>
    <div>
        <label for="info">Info: </label><br>
        <input type="text" [(ngModel)] = "info" name="info">
      </div>
</form>
</div>

