<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



<h2>Authors</h2>
<div>
  <label>Author Name:
    <input #authorName/>
  </label>
  <button (click)="add(authorName.value); authorName.value=''">
    add
  </button>
</div>
<ul class="authors">
  <li *ngFor="let author of authors">
    <a routerLink="/detail/{{author.id}}">
      <span class="badge">{{author.id}}</span>  {{author.name}}
    </a>
    <button class="delete" title="delete author"
      (click)="delete(author)">x</button>
  </li>
</ul>